<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="BARIS-PC2022; Database=Trade; User Id=tradeuser; Password=Trd2021**" />
	</connectionStrings>
	<appSettings>
		<add key="ConsoleWindowWidth" value="165"/>
		<add key="ConsoleWindowHeight" value="50"/>
		<add key="MainTimePeriod" value="2000"/>
		<!--Milisecond-->
		<add key="IntermediateTimePeriod" value="1000"/>
		<!--Milisecond-->
		<add key="StartTradeAfterIterationNumber" value="10"/>
		<!--Integer-->
		<add key="SuperTrendCountRange" value="30"/>
		<!--Integer-->
	</appSettings>
</configuration>