<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Server=(localdb)\MSSQLLocalDB; Database=Trade; User Id=tradeuser; Password=Trd2021**" />
	</connectionStrings>
	<appSettings>
		<add key="ConsoleWindowWidth" value="165"/>
		<add key="ConsoleWindowHeight" value="50"/>
		<add key="TimePeriod" value="1000"/>
	</appSettings>
</configuration>